.content {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 10rem, 1fr;
    grid-template-areas: 
    'header header'
    'left right'
}

header {
    grid-area: header;
}


#bg {
    margin-top: -25rem;
    grid-area: left;
    background: url('/assets/home-bg-img.svg') no-repeat top/contain;
    background-position-x: -5rem;
}

main {
    grid-area: right;
    align-items: center;
    width: 35rem;
    margin-top: -10rem;
}

main h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(2.0rem, 5vw, 2.8rem);
    margin-bottom: 0.5rem;
}

input {
    border: .2rem solid var(--grey-blue);
    padding: 0 1.6rem;
    width: 100%;
}

div#create-page-buttons {
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
}

button {
    width: 78%;
}

a {
    width: 20%;
    margin-right: 0.7rem;
}

.ball-top {
    background-color: var(--blue);
    width: 56rem;
    height: 56rem;
    position: fixed;
    clip-path: circle();
    top: -35rem;
    right: -36rem;
    opacity: 0.15;
}

.ball-bottom {
    background-color: var(--blue);
    width: 23rem;
    height: 23rem;
    position: fixed;
    clip-path: circle();
    bottom: -17rem;
    right: 5rem;
    opacity: 0.23;
}
