.content {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 10rem, 1fr;
    grid-template-areas: 
    'header header'
    'left right'
}

header {
    grid-area: header;
}


#bg {
    margin-top: -20rem;
    grid-area: left;
    background: url('/assets/home-bg-img.svg') no-repeat top/contain;
    background-position-x: -5rem;
}

main {
    grid-area: right;
    align-items: center;
    width: 35rem;
    margin-top: -10rem;
}

main h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(2.0rem, 5vw, 2.8rem);
    margin-bottom: 0.5rem;
}

input {
    border: .2rem solid var(--grey-blue);
    padding: 0 1.6rem;
}

input, button, .button {
    width: 100%;
    margin-bottom: 1.4rem
}

.separator {
    display: flex;
    align-items: center;
    padding-bottom: 1.2rem;    
}

.separator div:nth-child(2) {
    width: 108rem;
    text-align: center;
    color: var(--grey-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.separator div:nth-child(1), .separator div:nth-child(3){
    background: var(--grey-blue);
    width: 100%;
    height: 1px;
}

.ball-top {
    background-color: var(--blue);
    width: 56rem;
    height: 56rem;
    position: fixed;
    clip-path: circle();
    top: -35rem;
    right: -36rem;
    opacity: 0.15;
}

.ball-bottom {
    background-color: var(--blue);
    width: 23rem;
    height: 23rem;
    position: fixed;
    clip-path: circle();
    bottom: -17rem;
    right: 5rem;
    opacity: 0.23;
}